// $color-red:#ab1a2d;
$color-red:#ab1a2d;
$color-darkred:#841523;
$color-dark:#303132;
$color-navydark:#252a38;
$color-darknavy:#1b1e25;
$color-navy:#2a3040;
$color-lightgray:#ddd;
$color-lightgray2:#f0f0f0;
// BASIC
$color-white:#fff;
$color-black:#000;
$color-gray:#b9b1b2;
$color-gray2:#676767;
$color-primary:$color-dark;
$color-secondary:$color-red;
$color-third:$color-black;