$color-red:#ab1a2d;
$color-red2:#da4c4c;
$color-darkred:#870717;
$color-dark:#4d4d4d;
$color-navydark:#252a38;
$color-darknavy:#1b1e25;
$color-navy:#2a3040;
$color-lightgray:#f2f4f6;
$color-lightgray2:#f0f0f0;
// BASIC
$color-white:#fff;
$color-black:#000;
$color-blue:#0047ba;
$color-gray:#77777a;
$color-gray2:#8592a9;
$color-orange:#ff8300;
$color-cyan:#65cbc9;
$color-green:#97c93d;
$color-primary:$color-blue;
$color-secondary:$color-gray;
$color-third:$color-orange;
// select status color 
$color-primary:$color-red;
$color-secondary:$color-gray;