.flex-display {
    @include flex;
    @include flex-align-items(center);
    flex-wrap: inherit !important;
    .title-block {
        font-weight: 600;
        width: 120px;
        margin-left: 20px;
    }
}