$btn-color: #ab1a2d;

.btn {

    &--primary {
        background: transparent;
        padding: 11px 46px;
        min-width: 200px;
        font-weight: 900;
        font-size: 18px;
        color: $btn-color;
        border: 1px solid $btn-color;
        @include border-radius(100px);
        @include transition(.3);

        @media only screen and (max-width:$mobile) {
            padding: 10px 30px;
            font-size: .9em;
            width: 90%;
            display: block;
            margin: auto;
        }

        &:hover {
            color: $color-white;
            // background: $color-darkred;
            background: $btn-color;
        }
    }

    &--secondary {
        background: $btn-color;
        padding: 11px 46px;
        min-width: 200px;
        font-weight: 900;
        font-size: 18px;
        color: $color-white;
        border: 1px solid $btn-color;
        @include border-radius(100px);
        @include transition(.3);

        @media only screen and (max-width:$mobile) {
            padding: 10px 30px;
            font-size: .9em;
            width: 90%;
            display: block;
            margin: auto;
        }

        &:hover {
            color: $btn-color;
            // background: $color-darkred;
            background: transparent;
        }
    }



}