// Control settings
$header-height:100px;
$header-scrolling-height:100px;
$header-background:$color-white;
$color-site-red: #ab1a2d;

header {
    position: relative;
    display: block;
    width: 100%;
    z-index: 9;
    padding: 0;
    top: 0;
    left: 0;
     overflow: hidden;
    // position: fixed;
    min-height: $header-height;
    background: $header-background !important;
    @include flex;
    @include flex-align-items(center);

    &.scrolling {
        position: fixed !important;
        height: $header-scrolling-height;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        -webkit-box-shadow: 1px 0 5px 1px rgba(0, 0, 0, .6);
        box-shadow: 1px 0 5px 1px rgba(0, 0, 0, .6);
    }

    .main-nagivation-desktop {
        .navbar-bar {
            @include flex;
            @include flex-align-items(center);

            &__wrapper {
                @include flex;
                @include flex-justify-content(space-around);
                width: 100%;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: right;
            }
        }
    }
    .contact-details-wrap  {
        position: relative;
        display: block;
        text-align: right;
        padding: 0 0;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 53px;
            position: absolute;
            top: 0;
            right: -50%;
            z-index: -1;
            background: $color-site-red;
        }
        .title {
            position: relative;
            display: inline-block;
            background: #303132;
            padding: 10px 85px 19px 50px;
            border-bottom-left-radius: 100px;
            color: $color-white;
            font: bold 18px $font-primary;
            margin-right: -50px;
        }
        .info {
            position: relative;
            display: inline-block;
            background: $color-site-red;
            padding: 10px 0 10px 50px;
            border-bottom-left-radius: 100px;
            a {
                color: $color-white;
                font: 300 18px $font-primary;
                margin-left: 15px;
                i {
                    margin-right: 10px;
                    &.ic-phone{
                        display: inline-block;
                        vertical-align: top;
                        width: 21px;
                        height: 21px;
                        background: url('../images/sprite.png') no-repeat;
                        background-position: -11px -10px;
                    }
                    &.ic-email{
                        display: inline-block;
                        vertical-align: top;
                        width: 25px;
                        height: 19px;
                        background: url('../images/sprite.png') no-repeat;
                        background-position: -53px -10px;
                    }
                    &.ic-pin{
                        display: inline-block;
                        vertical-align: top;
                        width: 22px;
                        height: 33px;
                        background: url('../images/sprite.png') no-repeat;
                        background-position: -98px -10px;
                    }
                    &.ic-user{
                        display: inline-block;
                        vertical-align: top;
                        width: 25px;
                        height: 24px;
                        background: url('../images/sprite.png') no-repeat;
                        background-position: -141px -10px;
                    }
                }
            }
        }
    }
}

// .homepage--main {
//     padding-top: 102px;
//     header {
//         position: absolute;
//     }
// }