.global-featured-slider {
    &__top {
        position: relative;
        z-index: 2;
        max-width: 60%;
        margin: auto !important;
        left: 0;
        right: 0;
        z-index: 99;
        .global-featured-slider__item--image {
            height: 400px;
        }
    }
    &__bottom {
        position: absolute;
        top: 0;
        z-index: 1;
        .featured-slider-main__item--image {
            @include transform_scale(.7, .7);
            opacity: .4;
        }
        &--slick {
            position: relative;
            .prevIcon.slick-arrow,
            .nextIcon.slick-arrow {
                height: 30px;
                width: 115px;
                top: 50%;
                i {
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                }
            }
            .prevIcon.slick-arrow {
                position: absolute;
                left: 122px !important;
                cursor: pointer;
                @include transition(.3s);
                &:hover {
                    opacity: .6;
                }
            }
            .nextIcon.slick-arrow {
                position: absolute;
                right: 122px !important;
                cursor: pointer;
                @include transition(.3s);
                &:hover {
                    opacity: .6;
                }
            }
            @media only screen and (max-width:1200px) {
                .prevIcon.slick-arrow {
                    width: 70px;
                    overflow: hidden;
                }
                .nextIcon.slick-arrow {
                    width: 70px;
                    overflow: hidden;
                    i {
                        right: 0 !important;
                        left: inherit !important;
                    }
                }
            }
        }
    }
}

.slider-mask {
    position: relative;
    z-index: 2;
    transform: scale(1.1)translate(20%, 0px);
    &__slick {
        &--item {
            // height: 550px;
            // height: 590px;
            height: 617px;
            position: relative;
        }
        /* Slick Dots */
        .slick-dots {
            position: absolute;
            // bottom: -25px;
            bottom: 2%;
            right: 0;
            display: block;
            width: 100%;
            padding: 0;
            list-style: none;
            // right: -8% !important;
            text-align: left;
            right: 14%;
            width: 200px;
        }
        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 10px;
            padding: 0;
            cursor: pointer;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li button {
            background: transparent;
            width: 10px;
            height: 10px;
            border: none;
            font-size: 0;
            line-height: 0;
            display: inline-block;
            cursor: pointer;
            outline: none;
            position: relative;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li button::before {
            font-family: slick;
            font-size: 6px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: 1;
            background: #b6b7b7;
            text-align: center;
            content: '';
            display: block;
            -webkit-font-smoothing: antialiased;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li.slick-active button {
            width: 22px;
            height: 22px;
        }
        .slick-dots li.slick-active button:before {
            background: #000000;
            width: 10px;
            height: 10px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li.slick-active button:after {
            content: '';
            position: relative;
            top: -11px;
            left: -11px;
            right: 0;
            display: block;
            border: 1px solid #000000;
            width: 22px;
            height: 22px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        button.slick-next.slick-arrow,
        button.slick-prev.slick-arrow {
            display: none !important;
        }
    }
    &__text {
        background: $sprite-all;
        width: 571px;
        height: 571px;
        position: absolute;
        bottom: -116px;
        right: 170px;
        background-position: -4px -443px;
        transform: scale(.7);
        @include flex;
        @include flex-align-items(center);
        @include flex-justify-content(center);
        z-index: 3;
        &--content {
            width: 70%;
            text-align: center;
            color: #fff;
            font-size: 1.3em;
            padding-right: 15px;
            padding-top: 12px;
        }
        &--name {
            h6 {
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }
    &__image {
        // width: 550px;
        // height: 550px;
        // right: -23px;
        // width: 600px;
        // height: 600px;
        // right: -23px;
        width: 650px;
        height: 650px;
        right: -23px;
        top: -20px;
        position: absolute;
        background-size: 90% !important;
        img {
            -webkit-mask-box-image: url('../images/masking.png')10;
            // transform: scale(.9);
        }
    }
}

.events-camp-parent-holder {
    position: relative;
    text-align: center;
    .events-camp-slider {
        position: relative;
        display: block;
        width: 100%;
        padding: 0 0 72px;
        margin: 52px 0 0;
        left: 148px;
        padding-bottom: 0;
        &--item {
            position: relative;
            max-width: 483px;
            padding: 0 15px;
            a {
                position: relative;
                display: block;
                width: 100%;
                outline: none;
                text-decoration: none;
                .img-holder {
                    position: relative;
                    display: block;
                    height: 300px;
                    width: 100%;
                    background-size: cover !important;
                    img {
                        width: 100%;
                        max-width: 483px;
                    }
                }
                .title {
                    position: relative;
                    display: block;
                    padding: 17px 0 17px 15px;
                    color: $color-white;
                    background: $color-secondary;
                    font: 600 20px $font-primary;
                    text-transform: uppercase;
                    span {
                        position: absolute;
                        display: block;
                        top: 0;
                        right: 0;
                        width: 55px;
                        height: auto;
                        padding: 17px 0;
                        background: $color-darkred;
                        i {
                            display: block;
                            width: 15px;
                            height: 28px;
                            margin: auto;
                            background: url('../images/sprite.png') no-repeat;
                            background-position: -190px -8px;
                        }
                    }
                }
            }
        }
    }
    .slider-controls-two {
        width: auto !important;
        display: inline-block;
        position: relative;
        margin-top: 35px;
        .slick-dots {
            position: inherit !important;
        }
        /* Slick Arrows */
        .slick-prev:hover,
        .slick-prev:focus,
        .slick-next:hover,
        .slick-next:focus {
            opacity: 0.8;
        }
        .slide-m-prev-two,
        .slick-prev {
            background: url('../images/sprite.png') no-repeat;
            background-position: -53px -46px;
            width: 29px;
            height: 24px;
            font-size: 0;
            border: none;
            position: absolute;
            left: -55px;
            bottom: -18px;
            top: inherit;
            // top: 100%;
            // left: 32%;
            //  left: 30%;
            cursor: pointer;
            z-index: 9;
            opacity: .4;
            &:hover {
                opacity: 1;
            }
            &::before {
                display: none;
            }
        }
        .slide-m-next-two,
        .slick-next {
            background: url('../images/sprite.png') no-repeat;
            background-position: -11px -46px;
            width: 29px;
            height: 24px;
            font-size: 0;
            border: none;
            position: absolute;
            right: -55px;
            bottom: -18px;
            top: inherit;
            // top: 100%;
            // right: 54%;
            //  right: 52%;
            cursor: pointer;
            z-index: 9;
            opacity: .4;
            &:hover {
                opacity: 1;
            }
            &::before {
                display: none;
            }
        }
        /* Slick Dots */
        .slick-dots {
            //  position: absolute;
            // bottom: -5px;
            //  left: -200px;
            display: inline-block;
            bottom: 0 !important;
            // width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
        }
        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 10px;
            padding: 0;
            cursor: pointer;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li button {
            background: transparent;
            width: 10px;
            height: 10px;
            border: none;
            font-size: 0;
            line-height: 0;
            display: inline-block;
            cursor: pointer;
            outline: none;
            position: relative;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li button::before {
            font-family: slick;
            font-size: 6px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: 1;
            background: #b6b7b7;
            text-align: center;
            content: '';
            display: block;
            -webkit-font-smoothing: antialiased;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li.slick-active button {
            width: 22px;
            height: 22px;
        }
        .slick-dots li.slick-active button:before {
            background: #000000;
            width: 10px;
            height: 10px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li.slick-active button:after {
            content: '';
            position: relative;
            top: -11px;
            left: -11px;
            right: 0;
            display: block;
            border: 1px solid #000000;
            width: 22px;
            height: 22px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
    }
}

.feat-members {
    p {
        // font-size: 21px;
    }
    .feat-members-slider {
        position: relative;
        display: block;
        width: 100%;
        margin: 30px 0;
        padding: 0 0 70px;
        &--item {
            position: relative;
            a {
                position: relative;
                outline: none;
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: block;
                .image-holder {
                    position: relative;
                    display: block;
                    width: 100%;
                    // max-width: 268px;
                    overflow: hidden;
                    background: $color-secondary;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                    max-width: 250px;
                    height: 250px;
                    margin: auto;
                    @include transition(.4s);
                    img {
                        opacity: 1;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -ms-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }
                }
                .desc-txt {
                    position: relative;
                    display: block;
                    text-align: center;
                    margin-top: 20px;
                    @include transition(.4s);
                    .name {
                        color: $color-black;
                        font: 900 21px $font-primary;
                        text-transform: uppercase;
                    }
                    .chapter {
                        color: $color-secondary;
                        font: 300 18px $font-primary;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
                &:hover {
                    .image-holder img {
                        opacity: 0.7;
                    }
                    .image-holder {
                        transform: scale(.9);
                        opacity: .8;
                    }
                    .desc-txt {
                        transform: translate(0, -13px);
                    }
                }
            }
        }
    }
    .slider-controls-two {
        width: auto !important;
        display: inline-block;
        position: relative;
        margin-top: 35px;
        .slick-dots {
            position: inherit !important;
        }
        /* Slick Arrows */
        .slick-prev:hover,
        .slick-prev:focus,
        .slick-next:hover,
        .slick-next:focus {
            opacity: 0.8;
        }
        .slide-m-prev-two,
        .slick-prev {
            background: url('../images/sprite.png') no-repeat;
            background-position: -53px -46px;
            width: 29px;
            height: 24px;
            font-size: 0;
            border: none;
            position: absolute;
            left: -55px;
            bottom: -18px;
            top: inherit;
            // top: 100%;
            // left: 32%;
            //  left: 30%;
            cursor: pointer;
            z-index: 9;
            opacity: .4;
            &:hover {
                opacity: 1;
            }
            &::before {
                display: none;
            }
        }
        .slide-m-next-two,
        .slick-next {
            background: url('../images/sprite.png') no-repeat;
            background-position: -11px -46px;
            width: 29px;
            height: 24px;
            font-size: 0;
            border: none;
            position: absolute;
            right: -55px;
            bottom: -18px;
            top: inherit;
            // top: 100%;
            // right: 54%;
            //  right: 52%;
            cursor: pointer;
            z-index: 9;
            opacity: .4;
            &:hover {
                opacity: 1;
            }
            &::before {
                display: none;
            }
        }
        /* Slick Dots */
        .slick-dots {
            //  position: absolute;
            // bottom: -5px;
            //  left: -200px;
            display: inline-block;
            bottom: 0 !important;
            // width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
        }
        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 10px;
            padding: 0;
            cursor: pointer;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li button {
            background: transparent;
            width: 10px;
            height: 10px;
            border: none;
            font-size: 0;
            line-height: 0;
            display: inline-block;
            cursor: pointer;
            outline: none;
            position: relative;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li button::before {
            font-family: slick;
            font-size: 6px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: 1;
            background: #b6b7b7;
            text-align: center;
            content: '';
            display: block;
            -webkit-font-smoothing: antialiased;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li.slick-active button {
            width: 22px;
            height: 22px;
        }
        .slick-dots li.slick-active button:before {
            background: #000000;
            width: 10px;
            height: 10px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        .slick-dots li.slick-active button:after {
            content: '';
            position: relative;
            top: -11px;
            left: -11px;
            right: 0;
            display: block;
            border: 1px solid #000000;
            width: 22px;
            height: 22px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
    }
}